
Backend/node_modules
Daashboard_2.0/Dashboard/node_modules
Backend/Python/PeopleCounter/TestVideo.avi
Backend/Python/FaceRecognition/Train
.DS_Store
Backend/Python/FaceRecognition/yolov8m.pt
Backend/Python/FaceRecognition/ObjectDetection/yolov8m.pt
Backend/Python/FaceRecognition/ObjectDetection/__pycache__/__init__.cpython-311.pyc
Backend/Python/FaceRecognition/ObjectDetection/yolov8n.pt
Backend/Python/FaceRecognition/ObjectDetection/__pycache__/ObjectDetection.cpython-311.pyc

Daashboard_2.0/Dashboard/src/assets/Images_Record
Backend/Python/FaceRecognition/bin
Backend/Python/FaceRecognition/include
Backend/Python/FaceRecognition/lib
Backend/Python/FaceRecognition/lib64
Backend/Python/FaceRecognition/pyvenv.cfg

Backend/Python/PeopleCounter/bin
Backend/Python/PeopleCounter/include
Backend/Python/PeopleCounter/lib
Backend/Python/PeopleCounter/lib64
Backend/Python/PeopleCounter/pyvenv.cfg
