@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');
.home{
    font-family: 'Inter', sans-serif;
    
}
.home{
    background-color: #f1f2f5;
    display: grid;
    grid-template-rows: 2fr 1.5fr;
}
.cell-card{
    margin-right: 5px;
    margin-top: 5px;
    background-color: #fff;
}

.graphs{
    background-color: #fff;

}
.cards{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 0.6fr 0.6fr;
    margin-top: 7%;
    
}
.label1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;

}
.image1,.data{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.graphs{
    width: 98.15%;
    height: 83%;
    position: relative;
    top:20px;
    margin-left:20px;   
}
.info1{
    display: grid;
    grid-template-columns: 0.7fr 1fr;
}
.cell-card{
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hour{
    display: flex;
    justify-content: center;
    align-items: center;
}
.busy2{
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr;
    background-color: #4cb051;
    font-size: 25px;
    
}
.busy{
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr;
    background-color: #2196f3;
    margin-left: -7px;
    margin-right: 10px;
    font-size: 25px;


}